<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
<h1>User list</h1>
<ul>
  <li th:each="user:${users}" th:text="${user.name}+':::'+${user.password}+${user.email}"></li>

</ul>

<table>
  <thead>
  <tr>
    <th>이름</th>
    <th>비밀번호</th>
    <th>이메일</th>
  </tr>
  </thead>
  <tbody >
  <tr th:each="user:${users}">
    <td th:text="${user.name}"></td>
    <td th:text="${user.password}"></td>
    <td th:text="${user.email}"></td>
  </tr>

  </tbody>
</table>
</body>
</html>