<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>친구정보수정</title>
</head>
<body>
<h1>친구정보수정</h1>


<form action="/friend/update" method="post">
    <!--<label for="id" >번호 : </label>-->
    <input type="hidden" name="id" id="id" th:value="${friend.id}" readonly><br>
    <label for="name" >이름 : </label>
    <input type="text" name="name" id="name" th:value="${friend.name}"><br>
    <label for="email" >이메일 : </label>
    <input type="text" name="email" id="email" th:value="${friend.email}"><br>
    <button type="submit">친구정보수정</button>
</form>
</body>
</html>