<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BoardDelete</title>
</head>
<body>
<h1>진짜 삭제?</h1>

<div style="display: flex; gap: 10px;">
<form th:action="@{/board/delete/{id}(id=${board.id})}" method="post">
    <input type="hidden" name="id" th:value="${board.id}">
    <button type="submit"> 삭제 </button>
</form>
<a th:href="@{/board/view/{id}(id=${board.id})}">
    <button type="button"> 취소 </button>
</a>
</div>

</body>
</html>