<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BoardList</title>
  <link rel="stylesheet" th:href="@{/css/friend.css}">
</head>
<body>
<h1>글 목록</h1>

<table>
  <tr>
    <th>ID</th>
    <th>제목</th>
    <th>이름</th>
    <th>등록일</th>
  </tr>
  <tr th:each="board : ${board}">
    <td th:text="${board.id}"></td>
    <td>
      <a th:href="@{/board/view/{id}(id=${board.id})}" th:text="${board.title}"></a>
    </td>
    <td th:text="${board.name}"></td>
    <td th:text="${board.createdAt}"></td>
  </tr>
</table>
<div th:if="${board.totalPages > 1}">
  <ul>
    <li th:each="i:${#numbers.sequence(1, board.totalPages)}">
      <a th:href="@{/board/list(page=${i - 1})}" th:text="${i}" th:classappend="${board.number == i - 1}?'active'"></a>
    </li>
  </ul>
</div>

<a th:href="@{/board/write}"> 등록 </a>

</body>
</html>
