<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BoardView</title>
    <link rel="stylesheet" th:href="@{/css/friend.css}">
</head>
<body>
<h1>상세보기</h1>

<table>
    <tr>
        <th>ID</th>
        <th>제목</th>
        <th>이름</th>
        <th>암호</th>
    </tr>
    <tr>
        <td th:text="${board.id}"></td>
        <td th:text="${board.title}"></td>
        <td th:text="${board.name}"></td>
        <td th:hidden="${board.password}"></td>
    </tr>
    <tr>
        <th>본문</th>
    </tr>
    <tr>
        <td th:text="${board.content}"></td>
    </tr>
    <tr>
        <th>등록일</th>
        <th>수정일</th>
    </tr>
    <tr>

        <td th:text="${board.createdAt}"></td>
        <td th:text="${board.updatedAt}"></td>

    </tr>
</table>

<a th:href="@{/board/list}"> 목록 </a>
<a th:href="@{/board/updateform/{id}(id=${board.id})}"> 수정 </a>
<a th:href="@{/board/deleteform/{id}(id=${board.id})}"> 삭제 </a>

</body>
</html>
